@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$txt-primary: black;
$txt-secondary: #ffff;
$txt-accent: #3b82f6;
$bg-primary: #ffff;
$bg-secondary: #D9D9D9;
$bg-footer1: #1D1D1D;
$bg-footer2: #3E3B3B;

*, html{
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  // font-size: clamp(10px, 2.5vw, 18px); 
  font-size: clamp(13px, 2.5vw, 16px);
}

.Layout{
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
  gap: 2rem;
}

.Container {
  max-width: 90rem;
  margin: auto;
  padding: 0px 20px 0px 20px;
  // display: flex;
  // flex-direction: column;
  // gap: 10rem;

}

// NavbarStyle
#navbar {
  background: $bg-primary;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

  .NavBox{
    min-height:4rem;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .burgerButton{
      display: none;
    }
  }

  .NavLogo{
    display:flex;
    align-items: center;
    gap:2px;
    
    a {
      color: $txt-primary;
    }

    a:hover{
      scale: 120%;
    }
  }

  .NavItems{
    display:flex;
    align-items: center;
    gap:15px;
    text-transform: upperCase;

    li:first-child:after{
      content: "";
      display:block;
      background: $txt-primary;
      height:20px;
      width:3px;
    }

    li{
      display:flex;
      align-items: center;
      gap:15px;

    }

    li:first-child:hover {
      text-decoration: underline;
    }
    li:nth-child(n+2):hover {
      scale: 120%;
    }

    a {
      display:flex;
      color: $txt-primary;
    }
  }
  // Mobile Nav
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    
    a {
      padding: 8px 8px 8px 20px;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: flex;
      align-items: center;
      gap: 5px;
      transition: 0.3s;
    }

    a:hover {
      color: #f1f1f1;
    }
    
    .closebtn {
      position: absolute;
      color: #818181;
      top: 20px;
      cursor: pointer;
      right: 20px;
      margin-left: 50px;
    } 


  }
  
  
}

// Footer
#footer{
  color: $txt-secondary;
  font-size: clamp(13px, 2.5vw, 14px);
}

.footerInfo{
  background: $bg-footer1;
  // padding: 0px 20px 0px 20px;

  .footerGroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 0;

    a{
      color: gray;
    }
    a:hover{
      color: $txt-accent
    }
  }

}
#Contact{
  background: $bg-footer2;
  padding: 0px 20px 0px 20px;

  .ContactContainer{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    width: auto;
    margin: auto;
    flex-wrap: wrap;
    gap: 30px;

    .ContactGroup{
      color: $txt-secondary;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .ContactPadding{
        padding-left: 22px ;
      }

      .ContactListGroup{
        display: flex;
        flex-direction: column;
        gap:10px;

        a:hover{
          text-decoration: underline;
        }

      }
      .ContactIcon{
        font-size: 1rem;
      }
  
      div:first-child{
        display: flex;
        align-items: center;
        gap:5px;
        font-weight: bold;
        font-size: 1.5rem
      }
      a{
        color: $txt-secondary;
      }

      #newsletter_input{
        max-width: 10rem;
        padding: 5px 3px 5px 3px;
      }
      #newsletter_button{
        padding: 5px 3px 5px 3px;

      }
      #socialGroup{
        display: flex;
        gap: 0.5rem;
        font-size: 2rem;

        li {
          transition: all 0.2s ease-in-out;
        }
        
        li:hover {
          transform: scale(110%);
        }
      }
    }
  }
}
// Homepage
#homepage{
  flex: 1;
}
// Hero
#heroGrid{
  display: grid;
  min-height: 40rem;
  max-height: 40rem;
  gap: 10px;
  padding-bottom: 8rem;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  
  .HeroGroup {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    p{
      color:white;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      font-size: clamp(2rem, 2.5vw, 3rem);
      font-weight: bold;
    }

    img {
      object-fit: cover;
      object-position:40% 20%;
      width: 100%;
      height: 100%;
      cursor: pointer;
      filter: brightness(50%);
      transition: all 0.3s ease-in-out;
    }

    a:hover{
      img{
        filter: brightness(80%);
        transform: scale(1.2);
      }
    }
  }

  .heroItem1{
    grid-area: 1 / 1 / span 2 / span 2;
  }
  .heroItem2{
    grid-area: 1 / 3 / 1 / 3;

  }
  .heroItem3{
    grid-area: 2 / 3 / 2 / 3;

  }
  .heroItem4{
    grid-area: 1 / 4 / span 2 / 4;
  }
}

// Trending
#trendingSection{
  flex: 1;

  .TrendingGroup{
    padding-bottom: 8rem;
    position: relative;

    .NextButton{
      background-color: white;
      padding: 3px;
      cursor: pointer;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }

    #left-button{
      position: absolute;
      top: 13rem;
      left: -1rem;
    }

    #right-button{
      position: absolute;
      top: 13rem;
      right: -1rem;
    }

    h1{
      font-size: 2rem;
      padding-bottom: 20px;
    }

    ul{
      display: flex;
      gap: 20px;
      height: 25rem;
      overflow: hidden;
      scroll-behavior: smooth;
      padding-bottom: 30px;


      li{
        height: auto;
        transition: all 0.1s ease-in-out;
        border-radius: 5px;
        background-color: white;

        .ActionButton{
          background: white;
          color: black;
          border-radius: 100%;
          display: flex;
          align-items: center;
          padding: 5px;
        }

        .HeartButton{
          position: absolute;
          top: 12px;
          right: 10px;
        }
        .AddToCartButton{
          position: absolute;
          bottom: 12px;
          right: 10px;
        }

        .ActionButton:hover{
          background: $bg-secondary;
        }

        a{
          display: flex;
          align-items: start;
          justify-content: start;
          height: 100%;
          width: 15rem;
          gap:10px;
          flex-direction: column;
          position: relative;
          padding: 0px 10px 0px 10px;

          .TrendingTextGroup{
            display: flex;
            color: $txt-primary;
            flex-direction: column;
            gap:5px;
            
            span{
              display: flex;
              align-items: center;
              
              p{
                padding: 5px;
                margin-left:5px;
                background-color: #fbbf24;
              }
            }

            p:last-child{
              font-weight: bold;
            }
          }

          .TrendingHoverImages{
            transition: all 0.1s ease-in-out;
            visibility: hidden;
            position: absolute;
            bottom:6rem;
            width: 15rem;
            height: auto;
            background-color: white;
            display: flex;
            align-items: center;

            img{
              width:3rem;
              height:3rem;
              border: 2px white solid;
              object-fit: cover;
              object-position: top;
            }

            img:hover{
              border: 2px black solid
            }
          }
        }
      }

      a:after{
        content: "";
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        height: 0.5em;
        border-top: 1px solid lightgray;
        z-index: -1;
      }

      li:hover{
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        .TrendingHoverImages{
          transform: translateY(-0.2rem);
          visibility: visible;
        }
      }

      img{
        object-fit: contain;
        height: 70%;
        width: 100%;
      }
    }
  }
}

// Productpage
#productpage{
  flex: 1;
}

#product{
  height: 40rem;
  gap: 10px;
  padding-bottom: 8rem;

  .ProductPrice{
    font-weight: bold;
    font-size: 2rem;
  }

  .ProductGroup{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    position: relative;

    .ProductMainImg{
      width: 35rem;
      height: 35rem;
      object-fit: cover;
      object-position: top;
    }
    
    .ProductHoverImages{
      transition: all 0.1s ease-in-out;
      cursor: pointer;
      width: 30rem;
      height: auto;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      overflow: auto;

      img{
        width:5rem;
        height:5rem;
        border: 2px white solid;
        object-fit: cover;
        object-position: top;
      }

      img:hover{
        border: 2px black solid
      }
    }
  
    .ProductBox{
      display: grid;
      grid-template: repeat(6,1fr) / repeat(2, 1fr);
      width: 100%;
      gap:10px;

      .ProductHeaderGroup{
        grid-area: 1 / 1 / 1 / span 2;
        
        p{
          padding-top: 5px;
        }
        h1{
          font-size: 2rem;
          font-weight: bold;
        }
      }
      
      .ProductDesctription{
        font-size: clamp(16px, 2.5vw, 20px);
        grid-area: 2 / 1 / 5 / span 2 ;
        
      }

      .CartButtonGroup{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        gap: 10px;
        grid-area: 5 / 1 / span 6 / 1 ;
        user-select: none;

        .QuantityGroup{
          font-size: 40px;
          .QuantityButton{
            transition: all 0.1s ease-in-out;
            cursor: pointer;
            color:$bg-secondary;
          }
          .QuantityButton:hover{
            color: $bg-footer2;

          }
          p{
            font-size: 30px;
            padding: 0px 10px 0px 10px;
          }
        }

        button{
          padding: 10px 20px 10px 20px;
          border: 1px solid black;
          cursor: pointer;
          font-size: 1.5rem;
          background-color: white;

        }
        button:hover{
          background-color: #3b82f6;
          border: 1px solid white;
          color: white
        }

        div{
          display: flex;
          align-items: center;
        }
      }

      .RatingGroup{
        display: flex;
        align-items: center;
        padding-top: 5px;
        p{
          font-weight: bold;
          padding: 5px;
          margin-left:5px;
          background-color: #fbbf24;
        }
      }

      .ProductStockInfo{
        grid-area: 5 / 2 / span 6 / 2;
        gap: 5px;
        display: flex;
        justify-content: end;
        flex-direction: column;
        align-items: start;

        .StockInfoGroup{
          display: flex;
          flex-direction: column;
          gap:5px;
          border: 1px solid black;
          padding: 10px;
          border-radius: 10px;
        }
        .StockText{
          font-size: 2rem;
        }

        p:first-child{
          font-weight: bold;
        }

        span{
          display: flex;
          align-items: center;
          gap:5px;
        }
        span:last-child{
          background-color: $bg-secondary;
          width: fit-content;
          padding: 5px;
          border-radius: 10px;
          cursor: pointer;
          user-select: none;
        }
        span:last-child:hover{
          background-color: $bg-footer2;
          color: white;
        }
        span:nth-child(-n + 3){
          gap: 15px;
        }
      }
    }
  }
}

// MediaQ
@media only screen and (max-width: 1050px) {
  .ProductGroup{
    gap: 1rem !important;

    .ProductMainImg{
      width: 28rem !important;
      height: 28rem !important;
    }
    .ProductBox{
      .ProductDesctription{
        grid-area: 2 / 1 / 4 / span 2 !important;
      }
      .CartButtonGroup{
        grid-area: 5 / 1 / span 6 / span 2 !important;
      }
      .ProductStockInfo{
        grid-area: 4 / 1 / 5 / span 2 !important;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  #heroGrid{
    display: flex !important;
    flex-direction: column;
    p{
      font-size: clamp(2rem, 10vw, 5rem) !important;
    }
  }
  .TrendingGroup{
    a{
      width: 10rem !important;
    }
    .TrendingHoverImages{
      width: 10rem !important;
      img{
        width:2rem !important;
        height:2rem !important;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #product{
    height: auto;
  }
  .ProductGroup{
    flex-direction: column;
    align-items: center;

    .ProductMainImg{
      width: 15rem !important;
      height: 15rem !important;
    }
    .ProductHoverImages{
      img{
        width: 3rem !important;
        height: 3rem !important;
      }
    }
    .ProductBox{
      grid-template: repeat(4,1fr) / 1fr !important;

      .ProductHeaderGroup{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      .ProductDesctription{
        grid-area: 2 / 1 / 3 / span 2 !important;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        text-align: center;

      }
      .CartButtonGroup{
        grid-area: 5 / 1 / 4 / 1 !important;
        align-items: center !important; 
      }
      .ProductStockInfo{
        grid-area: 3 / 1 / 4 / 1 !important;
        align-items: center !important;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .ContactContainer{
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .ContactIcon{
    display: none;
  }

  .ContactPadding{
    padding: 0 !important;
  }

  .footerGroup{
    flex-direction: column-reverse;
    gap:10px;
  }

  .NavItems{
    display: none !important;
  }

  .burgerButton{
    display: flex !important;
  }
}


