@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*, html {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: clamp(13px, 2.5vw, 16px);
}

.Layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Container {
  max-width: 90rem;
  margin: auto;
  padding: 0px 20px 0px 20px;
}

#navbar {
  background: white;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
#navbar .NavBox {
  min-height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar .NavBox .burgerButton {
  display: none;
}
#navbar .NavLogo {
  display: flex;
  align-items: center;
  gap: 2px;
}
#navbar .NavLogo a {
  color: black;
}
#navbar .NavLogo a:hover {
  scale: 120%;
}
#navbar .NavItems {
  display: flex;
  align-items: center;
  gap: 15px;
  text-transform: upperCase;
}
#navbar .NavItems .NavIcon {
  position: relative;
}
#navbar .NavItems .NavIcon span {
  background-color: red;
  position: absolute;
  top: -5px;
  right: -12px;
  color: white;
  font-size: 13px;
  padding: 3px;
  width: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
#navbar .NavItems li:first-child:after {
  content: "";
  display: block;
  background: black;
  height: 20px;
  width: 3px;
}
#navbar .NavItems li {
  display: flex;
  align-items: center;
  gap: 15px;
}
#navbar .NavItems li:first-child:hover {
  text-decoration: underline;
}
#navbar .NavItems li:nth-child(n+2):hover {
  scale: 120%;
}
#navbar .NavItems a {
  display: flex;
  color: black;
}
#navbar .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
#navbar .sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
}
#navbar .sidenav a:hover {
  color: #f1f1f1;
}
#navbar .sidenav .closebtn {
  position: absolute;
  color: #818181;
  top: 20px;
  cursor: pointer;
  right: 20px;
  margin-left: 50px;
}

#footer {
  color: white;
  font-size: clamp(13px, 2.5vw, 14px);
}

.footerInfo {
  background: #1D1D1D;
}
.footerInfo .footerGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}
.footerInfo .footerGroup a {
  color: gray;
}
.footerInfo .footerGroup a:hover {
  color: #3b82f6;
}

#Contact {
  background: #3E3B3B;
  padding: 0px 20px 0px 20px;
}
#Contact .ContactContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  width: auto;
  margin: auto;
  flex-wrap: wrap;
  gap: 30px;
}
#Contact .ContactContainer .ContactGroup {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#Contact .ContactContainer .ContactGroup .ContactPadding {
  padding-left: 22px;
}
#Contact .ContactContainer .ContactGroup .ContactListGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#Contact .ContactContainer .ContactGroup .ContactListGroup a:hover {
  text-decoration: underline;
}
#Contact .ContactContainer .ContactGroup .ContactIcon {
  font-size: 1rem;
}
#Contact .ContactContainer .ContactGroup div:first-child {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 1.5rem;
}
#Contact .ContactContainer .ContactGroup a {
  color: white;
}
#Contact .ContactContainer .ContactGroup #newsletter_input {
  max-width: 10rem;
  padding: 5px 3px 5px 3px;
}
#Contact .ContactContainer .ContactGroup #newsletter_button {
  padding: 5px 3px 5px 3px;
}
#Contact .ContactContainer .ContactGroup #socialGroup {
  display: flex;
  gap: 0.5rem;
  font-size: 2rem;
}
#Contact .ContactContainer .ContactGroup #socialGroup li {
  transition: all 0.2s ease-in-out;
}
#Contact .ContactContainer .ContactGroup #socialGroup li:hover {
  transform: scale(110%);
}

#homepage {
  flex: 1;
}

#heroGrid {
  display: grid;
  min-height: 40rem;
  max-height: 40rem;
  gap: 10px;
  padding-bottom: 8rem;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
}
#heroGrid .HeroGroup {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#heroGrid .HeroGroup p {
  color: white;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: clamp(2rem, 2.5vw, 3rem);
  font-weight: bold;
}
#heroGrid .HeroGroup img {
  object-fit: cover;
  object-position: 40% 20%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  filter: brightness(50%);
  transition: all 0.3s ease-in-out;
}
#heroGrid .HeroGroup a:hover img {
  filter: brightness(80%);
  transform: scale(1.2);
}
#heroGrid .heroItem1 {
  grid-area: 1/1/span 2/span 2;
}
#heroGrid .heroItem2 {
  grid-area: 1/3/1/3;
}
#heroGrid .heroItem3 {
  grid-area: 2/3/2/3;
}
#heroGrid .heroItem4 {
  grid-area: 1/4/span 2/4;
}

.trendingSection {
  flex: 1;
  width: 100%;
}
.trendingSection .TrendingGroup {
  padding-bottom: 8rem;
  position: relative;
  width: 100%;
}
.trendingSection .NextButton {
  background-color: white;
  padding: 3px;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.trendingSection #left-button {
  position: absolute;
  top: 13rem;
  left: -1rem;
}
.trendingSection #right-button {
  position: absolute;
  top: 13rem;
  right: -1rem;
}
.trendingSection h1 {
  font-size: 2rem;
  padding-bottom: 20px;
}
.trendingSection .TrendingDisplay {
  resize: none;
  display: flex;
  overflow: hidden;
  width: 100%;
  scroll-behavior: smooth;
  padding-bottom: 30px;
  gap: 20px;
}

#productpage {
  flex: 1;
}

#product {
  height: 40rem;
  gap: 10px;
  padding-bottom: 8rem;
}
#product .ProductPrice {
  font-weight: bold;
  font-size: 2rem;
}
#product .ProductGroup {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  position: relative;
}
#product .ProductGroup .ProductMainImg {
  width: 35rem;
  height: 35rem;
  object-fit: cover;
  object-position: center;
}
#product .ProductGroup .ProductHoverImages {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  width: 30rem;
  height: auto;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
#product .ProductGroup .ProductHoverImages img {
  width: 5rem;
  height: 5rem;
  border: 2px white solid;
  object-fit: cover;
  object-position: top;
}
#product .ProductGroup .ProductHoverImages img:hover {
  border: 2px black solid;
}
#product .ProductGroup .ProductBox {
  padding: 10px;
  display: grid;
  grid-template: repeat(6, 1fr)/repeat(2, 1fr);
  width: 100%;
  gap: 10px;
}
#product .ProductGroup .ProductBox .ProductHeaderGroup {
  grid-area: 1/1/1/span 2;
}
#product .ProductGroup .ProductBox .ProductHeaderGroup p {
  padding-top: 5px;
}
#product .ProductGroup .ProductBox .ProductHeaderGroup h1 {
  font-size: 2rem;
  font-weight: bold;
}
#product .ProductGroup .ProductBox .ProductDesctription {
  font-size: clamp(12px, 2.5vw, 20px);
  grid-area: 2/1/5/span 2;
}
#product .ProductGroup .ProductBox .CartButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 10px;
  grid-area: 5/1/span 6/1;
  user-select: none;
}
#product .ProductGroup .ProductBox .CartButtonGroup .QuantityGroup {
  font-size: 40px;
}
#product .ProductGroup .ProductBox .CartButtonGroup .QuantityGroup .QuantityButton {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  color: #D9D9D9;
}
#product .ProductGroup .ProductBox .CartButtonGroup .QuantityGroup .QuantityButton:hover {
  color: #3E3B3B;
}
#product .ProductGroup .ProductBox .CartButtonGroup .QuantityGroup p {
  font-size: 30px;
  padding: 0px 10px 0px 10px;
}
#product .ProductGroup .ProductBox .CartButtonGroup button {
  padding: 10px 20px 10px 20px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: white;
}
#product .ProductGroup .ProductBox .CartButtonGroup button:hover {
  background-color: #3b82f6;
  border: 1px solid white;
  color: white;
}
#product .ProductGroup .ProductBox .CartButtonGroup div {
  display: flex;
  align-items: center;
}
#product .ProductGroup .ProductBox .RatingGroup {
  display: flex;
  align-items: center;
  padding-top: 5px;
}
#product .ProductGroup .ProductBox .RatingGroup p {
  font-weight: bold;
  padding: 5px;
  margin-left: 5px;
  background-color: #fbbf24;
}
#product .ProductGroup .ProductBox .ProductStockInfo {
  grid-area: 5/2/span 6/2;
  gap: 5px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
}
#product .ProductGroup .ProductBox .ProductStockInfo .StockInfoGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}
#product .ProductGroup .ProductBox .ProductStockInfo .StockText {
  font-size: 2rem;
}
#product .ProductGroup .ProductBox .ProductStockInfo p:first-child {
  font-weight: bold;
}
#product .ProductGroup .ProductBox .ProductStockInfo span {
  display: flex;
  align-items: center;
  gap: 5px;
}
#product .ProductGroup .ProductBox .ProductStockInfo span:last-child {
  background-color: #D9D9D9;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}
#product .ProductGroup .ProductBox .ProductStockInfo span:last-child:hover {
  background-color: #3E3B3B;
  color: white;
}
#product .ProductGroup .ProductBox .ProductStockInfo span:nth-child(-n+3) {
  gap: 15px;
}

.BannerReverse {
  flex-direction: row-reverse;
}

.BannerSection {
  background-color: #D9D9D9;
  display: flex;
  height: 35rem;
  width: 100%;
  align-items: center;
  margin-bottom: 8rem;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}
.BannerSection img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.BannerSection div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BannerSection div span {
  width: 80%;
}
.BannerSection div span h1, .BannerSection div span p, .BannerSection div span a {
  margin-bottom: 20px;
}
.BannerSection div span a {
  padding: 1rem 2rem 1rem 2rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: black;
  color: white;
  border: 2px solid black;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.BannerSection div span a:hover {
  background-color: #D9D9D9;
  color: black;
}

.GetInspiredSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}
.GetInspiredSection h1 {
  width: 100%;
  font-size: 2rem;
  padding-bottom: 20px;
  text-align: end;
}
.GetInspiredSection button {
  width: 10rem;
  height: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.GetInspiredSection .InspiredGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 10px;
}
.GetInspiredSection .InspiredGrid div {
  background-color: lightcoral;
  cursor: pointer;
  overflow: hidden;
  grid-column: span 2;
}
.GetInspiredSection .InspiredGrid div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}
.GetInspiredSection .InspiredGrid div img:hover {
  transform: scale(1.2);
}
.GetInspiredSection .InspiredGrid div:not(:nth-child(2)) {
  grid-row: span 4;
}
.GetInspiredSection .InspiredGrid div:nth-child(2) {
  grid-row: span 3;
}

#cartpage {
  flex: 1;
}
#cartpage h1 {
  text-align: center;
}

.cartGroup {
  min-height: 50rem;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.cartGroup .cartItems {
  max-height: 50rem;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}
.cartGroup .cartItems .cartItem:nth-child(odd) {
  background-color: rgb(248, 248, 248);
}
.cartGroup .cartItems .cartItem {
  width: 100%;
  display: flex;
}
.cartGroup .cartItems .cartItem div:after {
  content: "";
  background-color: lightgray;
  width: 100%;
  height: 1px;
  bottom: 0;
  position: absolute;
}
.cartGroup .cartItems .cartItem div {
  position: relative;
  width: 100%;
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cartGroup .cartItems .cartItem div #itemTitle {
  max-width: 20rem;
  cursor: pointer;
  height: auto;
  text-align: start;
  overflow-wrap: break-word;
}
.cartGroup .cartItems .cartItem div span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cartGroup .cartItems .cartItem div span #cartQuantity {
  padding: 5px 0px 5px 0;
  border-radius: 5px;
}
.cartGroup .cartItems .cartItem div button {
  color: #D9D9D9;
  position: absolute;
  font-size: 1rem;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  transition: all 0.1s ease-in-out;
}
.cartGroup .cartItems .cartItem div button:hover {
  color: #3E3B3B;
}
.cartGroup .cartItems .cartItem img {
  cursor: pointer;
  width: 15rem;
  height: 15rem;
  object-position: top;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.cartGroup .cartItems .cartItem:not(:last-child) {
  margin-bottom: 0.5rem;
}
.cartGroup .cartSummary {
  height: 15rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  justify-content: space-around;
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
  position: relative;
}
.cartGroup .cartSummary span {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.cartGroup .cartSummary span:nth-child(-n+3):after {
  content: "";
  background-color: lightgray;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
}
.cartGroup .cartSummary span:nth-child(4) {
  font-weight: bold;
}
.cartGroup .cartSummary button {
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
}
.cartGroup .cartSummary button:hover {
  background-color: #1e6ce8;
}

#allProductsPage {
  flex: 1;
  user-select: none;
}
#allProductsPage h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.filterPanelGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin: auto;
}

.filterButtonGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 5rem;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  position: relative;
}
.filterButtonGroup .filterButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filterButtonGroup .priceBefore:before {
  content: "";
  background-color: white;
  position: absolute;
  top: -5px;
  width: 100px;
  height: 5px;
}
.filterButtonGroup .typeBefore:before {
  content: "";
  background-color: white;
  position: absolute;
  top: -5px;
  width: 100px;
  height: 5px;
}
.filterButtonGroup .PriceRangeGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.filterButtonGroup .filterList {
  position: absolute;
  z-index: 2;
  border: 1px solid black;
  top: 37px;
  display: flex;
  flex-direction: column;
  min-width: 11rem;
  left: -1px;
  height: auto;
  background-color: white;
}
.filterButtonGroup .filterList .PriceRangeContainer {
  background-color: white;
}
.filterButtonGroup .filterList button {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}
.filterButtonGroup .filterList button:hover {
  background-color: #D9D9D9;
}
.filterButtonGroup .filterList li {
  padding: 10px;
  height: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filterButtonGroup .filterList li:hover {
  background-color: #D9D9D9;
}
.filterButtonGroup .filterMark {
  background-color: black;
  color: white;
  padding: 4px;
  margin: 0px 5px 0px 5px;
}

.AllItemGroup {
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 5rem;
}

.ProductFrame:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.ProductFrame:hover .IconBottom {
  display: block;
}
.ProductFrame:hover .ProductImages {
  visibility: visible;
  transform: translateY(-0.2rem);
}

.ProductFrame:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid lightgray;
  z-index: -1;
}

.ProductFrame {
  cursor: pointer;
  min-width: 15rem;
  max-width: 15rem;
  height: 25rem;
  position: relative;
  transition: all 0.1s ease-in-out;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
.ProductFrame .ProductImages {
  visibility: hidden;
  position: absolute;
  background-color: white;
  bottom: 7rem;
  left: 0.6rem;
  width: 100%;
  display: flex;
  transition: all 0.1s ease-in-out;
}
.ProductFrame .ProductImages img {
  width: 3rem;
  height: 3rem;
  border: 2px white solid;
  object-fit: cover;
  object-position: top;
  border: 2px solid white;
}
.ProductFrame .ProductImages img:hover {
  border: 2px solid black;
}
.ProductFrame a {
  width: 100%;
  height: 100%;
  color: black;
}
.ProductFrame a .ProductMainImg {
  object-fit: contain;
  width: 100%;
  height: 70%;
}
.ProductFrame a div {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  height: 30%;
}
.ProductFrame a div span {
  display: flex;
  align-items: center;
}
.ProductFrame a div span p {
  background-color: #FBBF24;
  padding: 3px;
  margin-left: 3px;
}
.ProductFrame a div p:last-child {
  font-weight: bold;
}
.ProductFrame .ProductIcon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
  padding: 5px;
  text-align: center;
  background-color: white;
  border-radius: 100%;
}
.ProductFrame .IconTop {
  top: 10px;
}
.ProductFrame .IconBottom {
  display: none;
  bottom: 10px;
}
.ProductFrame .ProductIcon:hover {
  background-color: #D9D9D9;
}

#favouritePage {
  flex: 1;
  user-select: none;
}
#favouritePage h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

@media only screen and (max-width: 1500px) {
  .AllItemGroup {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1050px) {
  .AllItemGroup {
    grid-template-columns: repeat(2, 1fr);
  }
  .ProductGroup {
    gap: 1rem !important;
  }
  .ProductGroup .ProductMainImg {
    width: 28rem !important;
    height: 28rem !important;
  }
  .ProductGroup .ProductBox .ProductDesctription {
    grid-area: 2/1/4/span 2 !important;
  }
  .ProductGroup .ProductBox .CartButtonGroup {
    grid-area: 5/1/span 6/span 2 !important;
  }
  .ProductGroup .ProductBox .ProductStockInfo {
    grid-area: 4/1/5/span 2 !important;
  }
}
@media only screen and (max-width: 900px) {
  #product {
    height: auto;
  }
  .ProductGroup {
    flex-direction: column;
    align-items: center;
  }
  .ProductGroup .ProductMainImg {
    width: 15rem !important;
    height: 15rem !important;
  }
  .ProductGroup .ProductHoverImages img {
    width: 3rem !important;
    height: 3rem !important;
  }
  .ProductGroup .ProductBox {
    grid-template: repeat(4, 1fr)/1fr !important;
  }
  .ProductGroup .ProductBox .ProductHeaderGroup {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .ProductGroup .ProductBox .ProductDesctription {
    grid-area: 2/1/3/span 2 !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .ProductGroup .ProductBox .CartButtonGroup {
    grid-area: 5/1/4/1 !important;
    align-items: center !important;
  }
  .ProductGroup .ProductBox .ProductStockInfo {
    grid-area: 3/1/4/1 !important;
    align-items: center !important;
  }
  .cartGroup {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .cartGroup .cartItem img {
    width: 10rem !important;
    height: 10rem !important;
  }
  .cartGroup .cartItem div {
    padding: 10px 10px 0px 10px !important;
    flex-direction: column;
    gap: 20px !important;
    justify-content: flex-start !important;
  }
  .cartGroup .cartSummary {
    min-width: 10rem !important;
  }
  #heroGrid {
    display: flex !important;
    flex-direction: column;
    height: 10rem;
  }
  #heroGrid p {
    font-size: clamp(2rem, 10vw, 5rem) !important;
  }
  .TrendingGroup a {
    width: 10rem !important;
  }
  .TrendingGroup .TrendingHoverImages {
    width: 10rem !important;
  }
  .TrendingGroup .TrendingHoverImages img {
    width: 2rem !important;
    height: 2rem !important;
  }
}
@media only screen and (max-width: 800px) {
  .BannerSection {
    flex-direction: column;
  }
  .BannerSection img {
    width: 100%;
    height: calc(100% - 15rem) !important;
    object-fit: cover !important;
    object-position: left;
  }
  .BannerSection div {
    height: 50%;
  }
}
@media only screen and (max-width: 630px) {
  .AllItemGroup {
    gap: 2rem !important;
  }
  .ProductFrame {
    min-width: 10rem;
    max-width: 10rem;
    height: 20rem;
  }
  .ContactContainer {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .ContactIcon {
    display: none;
  }
  .ContactPadding {
    padding: 0 !important;
  }
  .footerGroup {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .NavItems {
    display: none !important;
  }
  .burgerButton {
    display: flex !important;
  }
}
@media only screen and (max-width: 430px) {
  .filterPanelGroup {
    flex-direction: column;
    align-items: flex-start;
  }
  .filterButtonGroup {
    width: 4rem;
  }
  .filterButtonGroup .priceBefore:before {
    content: "";
    background-color: white;
    position: absolute;
    top: -5px;
    width: 84px;
    height: 5px;
  }
  .filterButtonGroup .typeBefore:before {
    content: "";
    background-color: white;
    position: absolute;
    top: -5px;
    width: 84px;
    height: 5px;
  }
  .filterButtonGroup .filterList {
    top: 34px;
  }
  .ProductFrame {
    min-width: 100%;
    max-width: 100%;
  }
  .AllItemGroup {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=output.css.map */
